[submodule "Minesweeper"]
	path = Minesweeper
	url = https://github.com/jonayerdi/Minesweeper.git
[submodule "SpaceInvaders"]
	path = SpaceInvaders
	url = https://github.com/jonayerdi/SpaceInvaders.git
[submodule "CarSimulator"]
	path = CarSimulator
	url = https://github.com/jonayerdi/CarSimulator.git
[submodule "Snake"]
	path = Snake
	url = https://github.com/jonayerdi/Snake.git
[submodule "PID"]
	path = PID
	url = https://github.com/jonayerdi/PID.git
