#profile-img {
    border-radius: 50%;
    border: 3px solid black;
}

.journal:before {
    content: "📰";
    padding-right: 5px;
}

.conference:before {
    content: "🗣";
    padding-right: 5px;
}

li {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 75%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid;
    text-align: center;
}
